* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e9ecef;
    width: 360px;
    height: 100vh;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    overflow: visible;
    max-height: none;
}

.header .month-year {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.header .profile-icon {
    left: 0;
    font-size: 18px;
    cursor: pointer;
}

.header select {
    border: none;
    font-size: 16px;
    background: none;
    outline: none;
    cursor: pointer;
}

.header .year {
    font-size: 16px;
    font-weight: 500;
}

.total-gains {
    text-align: center;
    margin: 20px 0;
}

.total-gains p:first-child {
    font-size: 12px;
}

.total-gains h1 {
    font-size: 24px;
    color: #333;
    font-weight: 500;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.summary-item {
    display: flex;
    align-items: center;
}

.summary-item .circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 8px;
}

.summary-text {
    text-align: left;
}

.summary-text p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.summary div {
    text-align: center;
}

.summary div p:first-child {
    text-align: left;
    font-size: 12px;
    color: #666;
}

.summary div p:last-child {
    font-size: 14px;
    font-weight: 500;
}

.serviceTotal {
    color: #72e4ab;
}

.exchangeTotal {
    color: #ff8f27;
}

.service-title {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.services {
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    overflow-y: auto;
    max-height: calc(100% - 250px); /* Ajuste conforme o layout */
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.service-date {
    font-size: 12px;
    color: #999;
    margin-bottom: 3px;
}

.service-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.company-name {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
}

.service-info p {
    margin: 2px 0;
}

.service-info p:first-child {
    font-size: 12px;
    color: #666;
    font-weight: 600;
}

.service-info p:last-child {
    font-size: 14px;
    font-weight: lighter;
}

.service-value {
    color: #72e4ab;
    font-weight: 500;
    font-size: 13px;
}

.exchange-value {
    color: #ff8f27;
    font-weight: 500;
    font-size: 13px;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.values {
    display: flex;
    gap: 5px;
    font-size: 0.9em;
}

.add-button {
    background-color: #76C59D;
    border: none;
    color: #fff;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    align-self: center;
}

.add-button:hover {
    background-color: #32b34e;
}

/* Estilos para o fundo do modal */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilos para o conteúdo do modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Input e botão no modal */
.modal-content input,
.modal-content button,
.modal-content select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #45a049;
}

/* Fazer o modal ocupar toda a tela ao clicar em fundo */
.modal.show {
    display: flex;
}


.delete-button {
    background: none;
    border: none;
    color: #ff6b6b;
    cursor: pointer;
    font-size: 20px;
}

.delete-button:hover {
    color: #e05555;
}